.scroll-area {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-area[data-scroll-direction="x"] {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-area__content {
  width: 100%;
  min-width: 0;
}
